* {
  padding: 0;
  margin: 0;
}
.h1 {
  padding: 1rem;
  font-family: cursive;
}

.resultado {
  padding-left: 20px;
  font-size: 1.1rem;
}

.comecar {
  padding: 30px;
  font-size: 1.2rem;
  margin: 1rem;
}
